.section13{
    width: 100%;
    height: 670px;
    background-image: url(section13.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .sec13opacity{
        position: absolute;
        width: 100%;
        height: 670px;
        background-color: rgb(19, 32, 32);
        opacity: 0.8;
    }
    @media only screen and (max-width:320px) {
        .sec13opacity{
            height: 1100px;
        }           
    }
    .sec13about{
        width: 100%;
        height: 400px;
        position: relative;
        padding-top: 150px;
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;
        .btn{
            background-color:white;
            color: #272727;
            border-color: black;
            transition-duration: 0.3s;
            &:hover{
                color: white;
                background-color: transparent;
                border-color: white;
                transition-duration: 0.3s;
            }
        }
    }
}
@media only screen and (max-width:320px) {
    .section13{
        height: 1100px;
    }           
}