.container{
    width: 100%;
    height: 700px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
}
.row{
    display: flex;
    flex-direction: row;
}
.row2{
    display: flex;
    flex-direction: row;
}
.row3{
    display: flex;
    flex-direction: row;
}
.secondrow{
    display: flex;
    flex-direction: column;
}
.column3{
    display: flex;
    flex-direction: column;
}
.thirdrow{
    display: flex;
    flex-direction: column;
}
.fourthrow{
    display: flex;
    flex-direction: row;
}
.fifthrow{
    display: flex;
    flex-direction: row;
}
.column4{
    display: flex;
    flex-direction: column;
}
.seventhrow{
    display: flex;
    flex-direction: column;
}
.sixthrow{
    display: flex;
    flex-direction: row;
}
.box-red{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    margin: 10px;
}
.box-blue{
    width: 220px;
    height: 100px;
    background-color: royalblue;
    border-radius: 10px;
    margin: 10px;
}
.box-green{
    width: 100px;
    height: 200px;
    background-color: green;
    border-radius: 10px;
    margin: 10px;
}
.box-orange{
    width: 220px;
    height: 200px;
    background-color: orange;
    border-radius: 10px;
    margin: 10px;
}



