.section8{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    .container{
        width: 100%;
        .row{
            .line1{
                width: 200px;
                height: 1px;
                background-color: #dbdbdb;
                text-align: center;
                margin: 8px auto 3px auto;
            }
            .line2{
                width: 150px;
                height: 1px;
                background-color: #dbdbdb;
                text-align: center;
                margin: 8px auto 3px auto;
            }
            .line3{
                width: 100px;
                height: 1px;
                background-color: #dbdbdb;
                text-align: center;
                margin: 8px auto 3px auto;
            }
            .sec8 p{
                margin-top: 20px;
                font-size: 16px;
                line-height: 24px;
                color: #646a7c;
            }
            .text-uppercase{
                letter-spacing: 2px;
                font-weight: bold;
            }
        }
        .sec8row2{
            width: 100%;
            .owl-carousel{
                .item{
                    width: 100%;
                    height: 80px;
                    border: 1px solid #eee;
                }
                .item img{
                    width: 170px;
                    height: 78px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin: auto;
                }
            }
        }
    }
}